@using PagedList.Mvc
@using PagedList
@model IPagedList<appweb.Models.sanPham>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/content/css/bootstrap.min.css" rel="stylesheet">


    <!-- MetisMenu CSS -->
    <link href="~/Areas/Admin/content/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/Areas/Admin/content/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Areas/Admin/content/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Areas/Admin/content/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Areas/Admin/content/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.~/Areas/Admin/content/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Top Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Startmin</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Left Menu -->
            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
            </ul>

            <!-- Right Menu -->
            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown navbar-inverse">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        @{
                            var user = HttpContext.Current.Session["AD"];
                            <span>@user</span>
                        }
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="~/Admin/HomeAdmin/DangXuat"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                        <li>
                            <a href="~/Admin/HomeAdmin/DangKy"><i class="fa fa-sign-out fa-fw"></i> Đăng Ký</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Sidebar -->
        <aside class="sidebar navbar-default" role="navigation">
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <form action="~/Admin/QLSanPham/TimKiem" class="input-group custom-search-form" method="get">
                            <input type="text" class="form-control" placeholder="Search..." name="ten">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </form>
                    </li>
                    <li>
                        <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Trang Chủ</a>
                    </li>
                    <li>
                        <a href="~/Admin/QLSanPham/DanhSachSP"><i class="fa fa-sitemap fa-fw"></i> Xem Sản Phẩm</a>
                    </li>
                    <li>
                        <a href="~/Admin/QLSanPham/ThemMoiSP"><i class="fa fa-sitemap fa-fw"></i> Thêm Sản Phẩm</a>
                    </li>
                    <li>
                        <a href="~/Admin/DanhSachCacDon/Index"><i class="fa fa-sitemap fa-fw"></i> Danh sách các đơn</a>
                    </li>
                    <li>
                        <a href="~/Admin/DanhSachCacDon/DonRieng"><i class="fa fa-sitemap fa-fw"></i> Danh sách các đơn Không có Tài Khoản</a>
                    </li>
                    <li>
                        <a href="~/Home/Index"><i class="fa fa-sitemap fa-fw"></i> Về Trang Chủ Người Dùng</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-sitemap fa-fw"></i> Tài Khoản Người Dùng</a>
                    </li>
                </ul>

            </div>
        </aside>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">

                                @foreach (var item in Model)
                                {
                                    <div class="col-md-3 col-sm-6">
                                        <div class="single-shop-product" style="margin-top:150px">
                                            <div class="product-upper">
                                                <img src="~/img/@item.hinhAnh" alt="" style="height:60px;right:40px">
                                            </div>
                                            <h5 style="padding-left:-100px"><a href="">@item.tenSP</a></h5>
                                            <div class="product-carousel-price">
                                                <ins>@item.giaBan</ins>
                                            </div>

                                            <div class="product-option-shop">
                                                <a href="@Url.Action("shopSP", "chiTietSP", new {Id=item.maSP})" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                <a href="@Url.Action("Sua", "QLSanPham", new { id=item.maSP})">Sửa</a>
                                                <a href="@Url.Action("xoa", "QLSanPham", new { id=item.maSP})">Xoá</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="product-pagination text-center">
                                        <nav>
                                            <ul class="pagination">
                                                <li>
                                                    @Html.PagedListPager(Model, page => Url.Action("Index", new
          {
              page,
              pageSize = ViewBag.pageSize
          }))
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ... Your content goes here ... -->

        </div>
    </div>

    </div>

    <!-- jQuery -->
    <script src="~/Areas/Admin/content/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/content/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Areas/Admin/content/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Admin/content/js/startmin.js"></script>

</body>

</html>
